<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <master auto="start"/>

    <node pkg="snc_events_wrapper" type="wrapper.py" respawn="false" name="snc_events_wrapper" output="screen">
        <rosparam file="$(find snc_events_wrapper)/config/parameters.yaml" command="load" />
    </node>
</launch>